/* index.module.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-650%);
    opacity: 1;
  }
}

.firstAnimation {
  animation:
    fadeIn 1.5s ease-in-out,
    slideUp 1.5s ease-in-out 1.5s forwards;
}

.fadeInLater {
  position: absolute;
  top: 50%; /* 시작 위치를 조정 */
  transform: translateY(-50%); /* 중앙 정렬을 위해 */
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 3s; /* Image 컴포넌트의 애니메이션이 끝나는 시점에 맞춰 지연 */
}
